.light-bg.section-indent.about   
  .container.indent
    h2.title.indent Web-студия Brainlab: традиции создания сайтов в <br> Украине
    .about__wrap
      .about__text
        p Семь лет работы и более 300 проектов – так выглядит сегодня история веб-студии Brainlab - несомненного авторитета в Украине. Свой собственный путь развития и работа для вашего успеха сделал из нас лидеров в сфере web дизайна, и мы продолжаем расти и совершенствоваться, чтобы ваш бизнес развивался. 

        h2 Почему клиенты заказывают разработку web-студии Brainlab

        p Потому что они ценят опыт, профессионализм и погружение – и мы с удовольствием делаем это для вас. Наши принципы работы основаны на развитии вашего благополучия в интернет:
        ul 
          li Мы полностью изучаем бизнес клиента погружаемся в изучение ваших задач.
          li Мы представляем самый широкий спектр веб разработки для всех сфер деятельности в Киеве и Украине: визитки, лендинг пейдж корпоративные сайты, интернет-магазины.
          li Постоянное совершенствование приводит к нашему развитию мы предлагаем только прогрессивные решения в мире веб разработок. Наша студия не предлагает скучных, устаревших или неинтересных решений.
          li Мы обеспечиваем поддержку 24/7 и всегда оказываем помощь, независимо от числа на календаре.
        p Веб студия Brainlab работает, что бы вы росли и развивались. Подтверждение тому – более 300 успешных реализованных проектов для предприятий всех сфер бизнеса в Украине.
        h2 Что такое веб-разработка от Brainlab
        p Работа по созданию и продвижение вашего бизнеса в сети - это не просто создание сайта под ключ. Это набор специальных возможностей, с помощью которых веб-ресурс начинает работу и приносит прибыль за короткий отрезок времени:
        ul  
          li SEO – продвижение поможет в выводе ресурса в топовые позиции в поисковых системах.
          li SMM – продвижение в социальных сетях, ведение страниц и разработка рекламных кампания в Facebook и Instagram.
          li Контекстная реклама для максимальной конверсии: для вас работают сертифицированные специалисты по контекстной рекламе.
          li E-mail маркетинг – для прямого общения с вашими клиентами и партнерских отношений.
        h2 Основные направления работы веб студии Brainlab в Киеве: какой сайт заказать
        p Шесть лет работы не прошли напрасно. В нашем портфолио немало уникальных концептуальных, работающих живых разработок для всех сфер бизнеса с разными возможностями:
        ul
          li интернет магазины;
          li Landing page;
          li Web Дизайн;
          li бизнес сайты;
          li корпоративные порталы;
          li поддержка и развитие проекта.
        p Каждый продукт хорош по-своему и выполняет определенные функции. Ваша задача – описать нам свои пожелания, мы предложим лучшее решение для достижения ваших бизнес-целей и усовершенствовать уже имеющийся веб-ресурс.
        p Что мы делаем для этого?
        ul
          li изучаем целевую аудиторию и ее особенности;
          li разрабатываем и улучшаем контент;
          li расширяем возможности сайтов и внедряем новые блоки;
          li отвечаем за техническую безопасность и поддержку;
          li помогаем автоматизировать бизнес и подключать системы управления;
          li помогаем рекомендациями и занимаемся продвижением онлайн.
        h2 Как заказать разработку веб студии Brainlab в Киеве
        p Почему среди многих web-студий клиенты выбирают нас? Потому что они ценят опыт, внимание к деталям, разноплановость и экспертность.
        p Вам нужен WOW сайт или лаконичный интернет-магазин? Емкий корпоративный ресурс или работающий лэндинг пейдж? Web-студия Brainlab уже знает, что вам предложить
        p Осталось только позвонить.
      .about__img   
          img(src="assets/img/logo-o.svg", alt="")
    .more.about-btn-js
      span.open Узнать больше
      span.close Скрыть