.dark-bg.section-indent.interim-contacts
  .container.indent
    h2.title.title--light.title.title--big Хотите сделать что-то великое? <br>
      |Позвольте помочь вам.
    .subtitle.indent Готовы? Свяжитесь сегодня.
    .interim-contacts__wrap
      .interim-contacts__separate
        include ../includes/col-contacts 
      .interim-contacts__btn-wrap
        a(href="#").btn.btn--filling-btn.btn--filled
          span Отправить запрос
        a(href="#").btn.btn--filling-btn
          span Калькулятор стоимости