.inside-page-video-block.inside-video
  video(muted="" loop="" autoplay="" playsinline="")
    source(src='assets/img/page-video.mp4' type="video/mp4")
  .container.indent
    .inside-video__info
      include ../includes/breadcrumbs
      +breadcrumbs(['Веб студия','Создание сайтов'], 'Дизайн сайта')
      .top-title Стоимость от 
        span.price 400 $
      .inside-video__info-wrap
        .inside-video__info-col  
          h1 Разработка вкусного  
            span Дизайна сайта
          .inside-video__info-btn-wrap
            a(href="#").btn.btn--filling-btn.btn--filled.btn--small
              span Калькулятор стоимости
            a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
              span Заказать проект
        .inside-video__info-col
          p Оформление сайта это первое что видит посетитель, поэтому важно держать баланс между содержательностью и креативностью.
          p Задача дизайна, зацепить человека в первые 2-3 секунды, заинтересовать и увеличить его время на сайте, изучая услуги и продукты компании.  



  