.portfolio
  mixin portfolio(category, title, bgImg, bgColor, img)
    a(href="#" style="background-color:"+ bgColor +"").portfolio__item
      .portfolio__img-block
        .portfolio__bg-img
          img(src="assets/img/"+ bgImg +"", alt="")
        .portfolio__main-img
          img(src="assets/img/"+ img +"", alt="")
      .portfolio__top-info
        span.portfolio__category=category
      .portfolio__bottom-info
        .portfolio__title=title
        .more
          span смотреть кейс 
            i.icon-arrow
  +portfolio('Интернет-магазин','Lavka babuin','portfolio-bg2.png','#347df1','portfolio1.png')
  +portfolio('Сайт каталог','Fujitsu Ukraine','portfolio-bg4.png','#e43e3e','portfolio2.png')
  +portfolio('Интернет-магазин','All ok','portfolio-bg8.png','#4734f2','portfolio3.png')
  +portfolio('Корпоративный сайт','Календарь ZN.UA','portfolio-bg5.png','#a73939','portfolio4.png')
  +portfolio('Интернет-магазин','Indonesia furniture','portfolio-bg7.png','#b3873c','portfolio5.png')

  a(href="#" style="background-color: #f2f2f2").portfolio__item
    .portfolio__item-bg
      span
      span
      span
    .more
      span смотреть кейсы 
        i.icon-arrow