.table.section-indent 
    .container.indent
      h2.title.title--big.indent Стоимость SEO-продвижения:
      table 
        thead
          tr 
            th Тарифы
            th Стоимость
          tr  
            td Сайты визитки
            td от 13000 грн. 
          tr  
            td Сайты услуг
            td от 15000 грн.
          tr  
            td Интернет магазины
            td от 18000 грн.
          tr  
            td Информационные ресурсы, блоги
            td от 20000 грн.