.dark-bg.section-indent
  .container.indent
    h2.title.title--light.title.title--big.indent Почему мы?
    .list.list--dark
      mixin list(title, desc)
        .list__item.fadeInUp
          .list__top
            h3=title
            p=desc
      +list('Прозрачные условия работы.','Договор с гарантиями и обязательствами.')    
      +list('Гибкая система оплаты.','70/30, 60/40, 50/50 за этап.')    
      +list('Постоянная обратная связь.','В удобных для вас каналах коммуникации.')    
      +list('Отчетность по этапам работ.','Наблюдаете результат в реальном времени.')    
      +list('Обучение работе с сайтом, тех. поддержка.','Консультации и рекоммендации после запуска.')    
      +list('Демо-версия админ. панели сайта.','Тестовый доступ для знакомства с управлением сайта.')    
      +list('Максимальная вовлеченность в ваш бизнес.','Вникаем в бизнес-процессы, проектируем конверсионный дизайн.')    
      +list('Индивидуальный дизайн и разработка.','Чистый и оптимизированный код, отзывчивый дизайн под вашу ЦА.')    