* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $gl;
  color: $tc;
}

::-webkit-scrollbar {
  width: rem(10);
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  background-color: #7F7F7F;
  border-radius: rem(10);
  border: rem(2) solid $wc;
}

body {
  &.disabled-scroll {
    overflow: hidden;
    padding-right: rem(10);
  }
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
    // padding: 0 5%;

    // @include xs {
    //   padding: 0;
    // }
  }
}

// flex footer end

// container
.container {
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1680px);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 rem(35);


  @include xs {
    max-width: 100%;
    padding: 0 rem(15);
  }

  &.indent {
    max-width: rem(1300px);

    @include lg {
      max-width: rem(960px);
    }

    @include sm {
      max-width: rem(640px);
    }

    @include xs {
      max-width: 100%;
      padding: 0 rem(15);
    }

  }
}


// container end

// languages start
.lang {
  display: flex;
  align-items: center;
  margin-left: rem(40);

  @media screen and (max-width: 1300px) {
    margin-left: rem(20);
  }

  @include xs {
    margin-left: rem(10);
  }

  &__item {
    margin-right: rem(10);

    &.active {
      a {
        color: $wc;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-weight: 700;
    color: $mc;

    &:hover {
      color: $wc;
    }
  }
}

// languages end

// logo start
.logo {
  display: flex;
  align-items: center;
  max-width: rem(250);
  width: 100%;

  @media screen and (max-width: 1500px) {
    max-width: rem(230);
  }

  @media screen and (max-width: 1300px) {
    max-width: rem(210);
  }

  @include lg {
    width: rem(180);
  }

  @include md {
    width: rem(230);
  }

  @include xs {
    width: rem(160);
  }

  &__link {
    width: rem(130);

    @include lg {
      width: rem(90);
    }

    @include md {
      width: rem(130);
    }

    @include xs {
      width: rem(130);
    }


    .color-logo {
      display: none;
    }

    .light-logo {
      display: block;
    }
  }
}

// logo end


// btn start
.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;



  &--ft {
    border: rem(2) solid $wc;
    font-weight: 600;
    color: $wc;
    font-size: rem(27);
    padding: rem(15);
    line-height: rem(22);


    @include xs {
      padding: rem(5);
      font-size: rem(15);
    }

    &:hover {
      background-color: $wc;
      color: $bc;
    }
  }

  &--filling-btn {
    border: rem(1) solid $bc;
    position: relative;
    display: inline-flex;
    padding: 0 rem(30);
    min-height: rem(80);
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      font-family: icon;
      top: 50%;
      right: rem(30);
      transform: translateY(-50%);
      font-size: rem(25);
    }

    &:hover {
      span {
        color: $wc;
      }

      &:before {
        right: 0;
      }

      &:after {
        color: $wc;
      }
    }

    &:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      transition: $tr;
      right: 100%;
      background-color: $bc;
    }

    span {
      color: $bc;
      font-size: rem(18);
      font-weight: 500;
      position: relative;
    }
  }

  &--filled {
    border-color: $mc;

    &:before {
      left: 0;
    }

    &:after {
      color: $wc;
    }

    &:hover {
      span {
        color: $mc;
      }

      &:before {
        left: 100%;
      }

      &:after {
        color: $mc;
      }
    }

    span {
      color: $wc;
    }

    &:before {
      width: 100%;
      height: 100%;
      background-color: $mc;
    }
  }

  &--small {
    max-width: rem(285);
    width: 100%;
    min-height: rem(60);
    padding: 0 rem(20);

    span {
      font-size: rem(16);
    }

    &:after {
      right: rem(20);
    }
  }
}

// btn end


// curtain start
.curtain,
.curtain-light {
  position: fixed;
  border-radius: 100%;
  width: rem(56);
  height: rem(56);
  z-index: 2;
  top: rem(28);
  right: rem(111);
  transform: scale(0);
}

.curtain {
  background-color: $bc;
  transition: all 1s;

  &.open {
    transform: scale(100);
  }
}

.curtain-light {
  background-color: $wc;
  transition: all .5s;

  &.open {
    transform: scale(100);
    transition: all 1s;
    z-index: 99;
  }
}

// curtain end

// overlay start
.overlay {
  &.open {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $wc;
    z-index: 2;
  }
}

// overlay end


// title start
.title {
  color: $bc;
  font-size: rem(36);

  @include lg {
    font-size: rem(34);
  }

  @include md {
    font-size: rem(32);
  }

  @include sm {
    font-size: rem(30);
  }

  @include xs {
    font-size: rem(28);
  }

  &.indent {
    margin-bottom: rem(60);

    @include lg {
      margin-bottom: rem(50);
    }

    @include md {
      margin-bottom: rem(40);
    }

    @include sm {
      margin-bottom: rem(30);
    }

    @include xs {
      margin-bottom: rem(20);
    }
  }

  &--light {
    color: $wc;
  }

  &--big {
    font-size: rem(55);

    @include lg {
      font-size: rem(45);
    }

    @include md {
      font-size: rem(40);
    }

    @include sm {
      font-size: rem(35);
    }

    @include xs {
      font-size: rem(30);
    }
  }

}

.subtitle {
  font-weight: 700;
  line-height: rem(18);
  color: #717171;
  margin-top: rem(15);

  &.indent {
    margin-bottom: rem(60);

    @include lg {
      margin-bottom: rem(50);
    }

    @include md {
      margin-bottom: rem(40);
    }

    @include sm {
      margin-bottom: rem(40);
    }

    @include xs {
      margin-bottom: rem(30);
    }
  }
}

// title end

// more start
.more {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: rem(35);
  cursor: pointer;

  a,
  span {
    color: $mc;
    font-weight: 500;
  }

  @include lg {
    font-size: rem(15);
  }

  @include md {
    font-size: rem(14);
  }

  &:hover {
    i {
      padding-left: rem(15);
    }
  }

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(20);
    padding-left: rem(5);
    transition: $tr;
  }
}

// more end




// fade start
.fadeInUp {
  transform: translateY(20%);
  opacity: 0;
  transition: 1s;

  &--animated {
    transform: translateY(0);
    opacity: 1;
  }
}

// fade end

// input start
.form {
  display: none;

  &.show {
    display: block;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
    }

    .form-control {
      flex-basis: 30%;
      border: none;

      @include sm {
        flex-basis: 32%;
      }

      @include xs {
        flex-basis: 100%;
        margin-bottom: rem(35);

      }

      .form-control-ckecked {
        @include xs {
          margin-bottom: 0;
        }
      }

      input,
      textarea {
        border-bottom: rem(2) solid #ddd;
        color: $wc !important;
        overflow: hidden;
      }

      textarea {
        resize: vertical;
      }

      &:nth-child(4) {
        flex-basis: 60%;
      }

      &:nth-child(5) {
        flex-basis: 35%;
      }
    }

    .form-control-ckecked {
      border-bottom: rem(2) solid #ddd;
    }

    .form-control--extended {
      height: auto;

      textarea {
        resize: vertical !important;
        height: rem(50);

        @media screen and (max-width: 1400px) {
          height: rem(45);
        }

        @media screen and (max-width: 1300px) {
          height: rem(40);
        }

        @include lg {
          height: rem(30);
        }
      }
    }
  }

  .btn {
    @include lg {
      margin: auto;
      display: flex;
    }
  }
}

.form-control {
  position: relative;
  margin-bottom: rem(60);
  border-bottom: rem(2) solid $bc;
  height: rem(50);

  @media screen and (max-width: 1400px) {
    height: rem(45);
    margin-bottom: rem(57);
  }

  @media screen and (max-width: 1300px) {
    height: rem(40);
    margin-bottom: rem(54);
  }

  @include lg {
    height: rem(30);
    margin-bottom: rem(51);
  }

  @include md {
    margin-bottom: rem(48);
  }

  &--extended {
    height: rem(60);
    line-height: normal;
  }

  input,
  textarea {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    font-size: rem(26);
    line-height: rem(50);
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;

    @media screen and (max-width: 1400px) {
      line-height: rem(45);
      font-size: rem(24);
    }

    @media screen and (max-width: 1300px) {
      line-height: rem(40);
      font-size: rem(22);
    }

    @include lg {
      line-height: rem(30);
      font-size: rem(20);
    }

    @include md {
      font-size: rem(18);
      line-height: rem(28);
    }

    &:focus+label {
      bottom: 100%;
      font-size: rem(16);
      color: #818181;
    }
  }


  label {
    position: absolute;
    bottom: rem(15);
    left: 0;
    transition: $tr;
    font-size: rem(26);
    color: $bc;

    @media screen and (max-width: 1400px) {
      font-size: rem(23);
      bottom: rem(13);
    }

    @media screen and (max-width: 1300px) {
      font-size: rem(21);
      bottom: rem(12);
    }

    @include lg {
      font-size: rem(19);
      bottom: rem(11);
    }

    @include md {
      font-size: rem(17);
      bottom: rem(11);
    }

    &.not-empty {
      bottom: 100%;
      font-size: rem(16);
      color: #818181;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    padding: rem(14) rem(25);
    box-shadow: 0 2px 13px rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 1;
    background-color: $wc;
    max-height: rem(183);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      color: #828282;
      font-size: rem(17);
      line-height: rem(26);
      font-weight: 600;
      padding: rem(3) 0;
      transition: $tr;

      &:hover {
        color: $bc;
      }
    }
  }

  .form-control-ckecked {
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      font-family: icon;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(180deg);
      font-size: rem(30);
      transition: $tr;
      color: #828282;

      @media screen and (max-width: 1400px) {
        font-size: rem(25);
      }

      @media screen and (max-width: 1300px) {
        font-size: rem(20);
      }

    }

    span {
      display: block;
      padding-top: rem(10);
      font-size: rem(26);
      color: $bc;

      @media screen and (max-width: 1400px) {
        font-size: rem(23);
        padding-top: rem(4);
      }

      @media screen and (max-width: 1300px) {
        font-size: rem(21);
        padding-top: rem(3);
      }

      @include lg {
        font-size: rem(19);
        padding-top: 0;
      }

      @include md {
        font-size: rem(17);
      }
    }

    &--active {
      .form-control__dropdown {
        display: block;
      }

      &:after {
        transform: translateY(-50%) rotate(0);
      }
    }
  }

  &.form-control--light {
    border-color: #bbb;

    * {
      color: $tc !important;
    }
  }
}

// input end


// section indent start
.section-indent {
  padding: rem(80) 0;

  @include lg {
    padding: rem(70) 0;
  }

  @include md {
    padding: rem(50) 0;
  }

  @include sm {
    padding: rem(40) 0;
  }

  @include xs {
    padding: rem(30) 0;
  }
}

// section indent end


// slider btn start
.prev-btn,
.next-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: $tr;

  i {
    font-size: rem(30);
  }

  &:hover {
    color: $mc;
    padding-left: rem(20);
  }
}

.prev-btn {
  transform: rotate(180deg);
  left: rem(20);

  &:hover {
    left: 0;
  }
}

.next-btn {
  right: rem(20);

  &:hover {
    right: 0;
  }
}

// slider btn end 


// fiter start
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(30) 0;

  &__wrap {
    display: flex;
    border: rem(1) solid #d7d7d7;

    @include sm {
      max-width: rem(400);
    }

    @include xs {
      flex-direction: column;
      width: 100%;
    }
  }

  &__item {
    padding: rem(15) rem(30);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: rem(1) solid #d7d7d7;

    @include sm {
      padding: rem(10) rem(20);
      font-size: rem(13);
    }

    @include xs {
      justify-content: flex-start;
      border-right: none;
      border-bottom: rem(1) solid #d7d7d7;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      border-color: $mc;

      &:after {
        width: 100%;
      }

      span {
        color: $wc;
      }
    }

    &:after {
      position: absolute;
      content: '';
      left: 0;
      width: 0;
      height: 100%;
      background-color: $mc;
      transition: $tr;
    }

    span {
      position: relative;
      color: $bc;
      z-index: 1;
      transition: $tr;
    }

    &.active {
      border-color: $mc;

      span {
        color: $wc;
      }

      &:after {
        width: 100%;
      }
    }
  }
}

// fiter end



// pagination start
.pagination,
.pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination {
  justify-content: center;
  margin-top: rem(30);

  @include xs {
    justify-content: center;
  }

  &__prev {
    transform: rotate(-90deg);

    &.disabled {
      pointer-events: none;
      color: $bc;
    }
  }

  &__next {
    transform: rotate(90deg);
    color: $mc;
  }

  &__prev,
  &__next {
    width: rem(30px);
    height: rem(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(30);
    padding-bottom: rem(5);

    &:hover {
      color: $wc;
      background-color: $mc;
    }
  }

  &__item {
    margin-right: rem(10px);

    @include xs {
      margin-right: rem(5px);
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      height: rem(30px);
      width: rem(30px);
      display: flex;
      align-items: center;
      justify-content: center;
      border: rem(1px) solid $mc;
      line-height: normal;
      box-sizing: border-box;
      color: $bc;
      font-weight: 700;

      @include xs {
        font-size: rem(12px);
        height: rem(25px);
        width: rem(25px);
      }

      &:hover {
        color: $wc;
        background-color: $mc;
      }
    }

    &.is-active {
      a {
        color: $wc;
        pointer-events: none;
        background-color: $mc;
      }
    }
  }
}

// pagination end


// scroll-top start
.scroll-top {
  width: rem(30);
  height: rem(30);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: rem(20);
  left: 10px;
  z-index: 99;
  background-color: rgba($mc, .5);
  transform: translateX(-100%);
  opacity: 0;
  transition: $tr;

  i {
    color: $wc;
  }

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
}

// scroll-top end