.video-bg {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $bc;

  video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;

    @include xs {
      display: none;
    }
  }

  &__info {
    position: relative;
    max-width: rem(1000);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include xs {
      padding: 0 rem(15);
    }
  }

  &__title {
    text-align: center;

    h1 {
      color: $wc;
      font-size: rem(70);
      font-weight: 700;
      margin-bottom: rem(65);

      @include lg {
        font-size: rem(50);
        margin-bottom: rem(15);
      }

      @include md {
        font-size: rem(40);
      }

      @include xs {
        font-size: rem(26);
        line-height: rem(34);
      }
    }

    span {
      color: $wc;
      font-size: rem(20);
      font-weight: 500;

      @include xs {
        font-size: rem(17);
        line-height: normal;
      }
    }
  }

  &__links {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: rem(775);
    width: 100%;
    margin: 0 auto;

    @include lg {
      max-width: rem(700);
    }

    @include md {
      max-width: rem(500);
    }

    @include xs {
      justify-content: space-around;
      padding: 0 rem(15);
    }
  }
}