.calculator {
  overflow: hidden;

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: rem(60);

    @include md {
      flex-direction: column;
    }
  }

  &__calculated {
    flex-basis: 69%;
    display: flex;
    justify-content: space-between;

    @include md {
      flex-basis: 100%;
    }

    @include xs {
      flex-wrap: wrap;
    }
  }

  &__result-total {
    flex-basis: 30%;

    @include md {
      flex-basis: 100%;
    }

    .btn {
      max-width: 100%;
      width: 100%;
      margin-top: rem(20);

      @include lg {
        max-width: rem(285);
        width: 100%;
        min-height: rem(60);
        padding: 0 rem(20);
        margin-top: rem(15);
      }
    }
  }

  .calculate {
    &__types {
      display: none;
    }

    &__col {
      width: 100%;
      flex-basis: 23%;

      @media screen and (max-width: 1400px) {
        margin-right: rem(10);
      }

      @include lg {
        margin-right: rem(10);
      }

      @include xs {
        flex-basis: 49%;
        margin: 0;
      }


      &:last-child {
        margin-right: 0;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.3;
      }

      &:nth-child(3),
      &:nth-child(4) {
        .calculate__info {
          .calculate__desc {
            left: auto;
            right: calc(100% + 60px);

            &:before {
              left: 100%;
              transform: rotate(180deg);
            }
          }

          &:hover {
            .calculate__desc {
              left: auto;
              right: calc(100% + 30px);
            }
          }
        }
      }

      @include sm {
        &:nth-child(2) {
          .calculate__info {
            .calculate__desc {
              left: rem(-130);
              right: 50%;
              top: 0;

              &:before {
                transform: rotate(90deg) !important;
                bottom: 88%;
                top: auto !important;
                left: 40%;
              }
            }

            &:hover {
              .calculate__desc {
                top: calc(100% + 30px);
              }
            }
          }
        }
      }

      @include xs {

        &:nth-child(1),
        &:nth-child(3) {
          .calculate__desc {
            &:before {
              transform: rotate(90deg) !important;
              bottom: 88% !important;
              top: auto !important;
              left: 36% !important;
            }
          }
        }
        
        &:nth-child(2),
        &:nth-child(4) {
          .calculate__desc {
            left: auto !important;
            right: rem(-20) !important;
            
            &:before {
              transform: rotate(90deg) !important;
              bottom: 88% !important;
              top: auto !important;
              left: 85% !important;
            }
          }
        }
      }







    }



    &__col-title {
      text-align: center;
      color: $bc;
      font-size: rem(18);
      font-weight: 600;
      margin-bottom: rem(25);

      @include lg {
        font-size: rem(16);
        margin-bottom: rem(20);
      }

      @include md {
        font-size: rem(14);
        margin-bottom: rem(15);
      }

    }

    &__item {
      background-color: $bc;
      min-height: rem(66);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 rem(15);
      cursor: pointer;
      position: relative;
      margin-bottom: rem(10);

      @include lg {
        min-height: rem(50);
        padding: 0 rem(10);
      }

      @include sm {
        min-height: rem(40);
      }

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        left: 0;
        background-color: $mc;
        transition: $tr;
      }

      &:hover {
        .calculate__info {
          i {
            color: $wc;
          }
        }

        &:after {
          width: 100%;
        }
      }

      &.active {
        &:after {
          width: 100%;
        }
      }
    }

    &__title {
      color: $wc;
      font-weight: 500;
      font-size: rem(18);
      z-index: 1;

      @include lg {
        font-size: rem(14);
      }

      @include sm {
        font-size: rem(11);
      }
    }

    &__info {
      z-index: 2;
      position: relative;

      &:hover {
        .calculate__desc {
          opacity: 1;
          visibility: visible;
          pointer-events: inherit;
          left: calc(100% + 30px);

          @include xs {
            top: calc(100% + 30px);
          }
        }
      }

      i {
        color: #b5b5b5;
        font-size: rem(17);
        transition: $tr;
      }
    }

    &__desc {
      background-color: $wc;
      width: rem(320);
      position: absolute;
      padding: rem(20) rem(20) rem(30);
      box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.4);
      top: rem(-20);
      left: calc(100% + 60px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: $tr;
      z-index: 999;
      box-sizing: border-box;

      @include xs {
        top: -20%;
        left: rem(-113) !important;
        width: rem(300);
      }

      &:before {
        position: absolute;
        content: '';
        right: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: rem(30) solid transparent;
        border-right: rem(30) solid $wc;
        border-bottom: rem(30) solid transparent;
      }

      p {
        font-size: rem(14);
        font-weight: 300;
        color: #1e1e1e;
        line-height: rem(21);
        position: relative;
      }

      a {
        position: absolute;
        color: $mc;
        font-size: rem(14);
        font-weight: 300;
        right: rem(20);
        bottom: rem(10);

        &:hover {
          &:after {
            width: 100%;
          }
        }

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: rem(1);
          left: 0;
          bottom: 0;
          background-color: $mc;
          transition: $tr;
        }
      }
    }
  }

  .total {
    .not-chosen {
      display: none;
    }

    .calculator__item-wrap {
      margin-top: rem(45);

      @include md {
        margin-top: rem(25);
      }
    }

    &__reset {
      font-size: rem(15);
      font-weight: 500;
      color: $mc;
      float: right;
      cursor: pointer;
      position: relative;

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: rem(1);
        background-color: $mc;
        right: 0;
        bottom: 0;
        transition: $tr;
      }
    }

    &__item {
      padding: rem(20);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include lg {
        padding: rem(10);
      }

      &:nth-child(odd) {
        background-color: #f9f9f9;
      }

      &.active {
        .total__info-title {
          color: $bc;

          * {
            color: $bc;
          }
        }

        .total__info-price {
          color: $mc;
        }
      }
    }

    &__info-title {
      color: #d2d2d2;
      font-weight: 600;

      @include lg {
        font-size: rem(12);
      }

      span {
        color: #b0b0b0;
        margin-left: rem(10);
      }
    }

    &__info-price {
      color: #d2d2d2;
      font-weight: 600;
      font-size: rem(13);

      @include lg {
        font-size: rem(10);
      }

      span {
        font-size: rem(16);
        margin-right: rem(3);

        @include lg {
          font-size: rem(13);
        }
      }
    }

    &__result {
      margin-top: rem(25);
    }

    &__cost,
    &__term {
      font-size: rem(18);
      font-weight: 700;
      color: $bc;
      margin: rem(10) 0;

      @include lg {
        font-size: rem(13);
      }

      p {
        display: inline-block;
        color: $mc;
      }

      span {
        margin-right: rem(2);
      }
    }
  }
}