.contacts {
  padding-top: calc(var(--headerHeight) + 30px);

  .col-contacts {
    @include sm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: space-between;
    }

    @include xs {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .col-contacts__contacts-item {
      @include sm {
        flex-basis: 48%;
      }

      @include xs {
        flex-basis: 100%;
      }

      span {
        font-weight: 500;
      }

      a,
      p {
        color: $bc;
      }

      a {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          height: rem(1);
          width: 0;
          background-color: $bc;
          transition: $tr;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }


    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;

    @include sm {
      flex-direction: column;
    }
  }

  &__col {
    &:first-child {
      flex-basis: 35%;
    }

    &:last-child {
      flex-basis: 65%;

      iframe {
        width: 100%;
        max-width: 100%;
        min-height: rem(500);
      }
    }
  }

  &__map {
    overflow: hidden;

    iframe {
      margin-top: rem(-50);
      margin-left: rem(-2);
    }
  }
}

.col-contacts {
  max-width: rem(300);
  width: 100%;

  span {
    display: block;
    color: #828282;
    margin-bottom: rem(10);
  }

  span,
  a,
  p {
    font-size: rem(18);
    font-weight: 400;
    line-height: rem(20);
  }

  a,
  p {
    color: $wc;
  }

  a {
    position: relative;

    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      content: '';
      height: rem(1);
      background-color: $wc;
      width: 0;
      transition: $tr;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  p {
    line-height: rem(30);
  }


  &__contacts-item {
    margin-bottom: rem(30);
  }

  &__social {
    li {
      display: inline-block;
      margin-right: rem(30);
      margin-bottom: rem(10);
    }

    a {
      font-size: rem(15);
      color: #cbcbcb;
    }
  }
}



.interim-contacts {

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
    }
  }

  &__separate {
    flex-basis: 60%;

    @include md {
      flex-basis: 70%;
    }

    @include sm {
      flex-basis: 100%;
    }

    .col-contacts {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 50%;
      max-width: 100%;
      justify-content: space-between;

      .col-contacts__contacts-item {
        flex-basis: 45%;

        @include xs {
          flex-basis: 100%;
        }
      }
    }
  }

  &__btn-wrap {
    max-width: rem(435);
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    z-index: 1;

    @include md {
      flex-basis: 30%;
    }

    @include sm {
      flex-basis: 100%;
      max-width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    @include xs {
      flex-direction: column;
      align-items: center;
    }

    .btn {
      max-width: 100%;

      @include md {
        max-width: rem(285);
        width: 100%;
        min-height: rem(60);
        padding: 0 rem(10);
        font-size: rem(14);

        &:after {
          right: rem(15);
          font-size: rem(15);
        }

        span {
          font-size: rem(14);
        }
      }

      @include sm {
        flex-basis: 45.5%;
      }

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}