.faq {
  &__item {
    &:first-child {
      .faq__desc {
        display: block;
      }
    }

    &.open {
      .faq__title {
        &:before {
          top: 50%;
          transform: translateY(-50%) rotate(0);
        }
      }
    }

  }

  &__title {
    background-color: #efefef;
    padding: rem(20) rem(40);
    font-weight: 700;
    border-bottom: rem(1) solid #ddd;
    cursor: pointer;
    position: relative;

    @include lg {
      padding-right: rem(25);
    }

    @include md {
      padding-right: rem(20);
    }

    @include sm {
      padding-right: rem(15);
    }

    @include xs {
      padding-right: rem(10);
    }

    &:before {
      position: absolute;
      content: '';
      font-family: icon;
      top: 55%;
      left: rem(18);
      transform: translateY(-50%) rotate(180deg);
      transition: $tr;
    }

    span {
      display: block;
      padding-left: rem(30);
      position: relative;

      @include sm {
        font-size: rem(15);
      }

      @include xs {
        line-height: rem(20);
      }

      &:before {
        position: absolute;
        content: '🥇 ';
        top: rem(4);
        left: 0;
      }
    }
  }

  &__desc {
    padding: rem(20);
    line-height: rem(22);
    display: none;

    @include sm {
      padding: rem(15);
    }

    a {
      position: relative;

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &:after {
        position: absolute;
        content: '';
        height: rem(1);
        width: 0;
        background-color: $mc;
        left: 0;
        bottom: 0;
        transition: $tr;
      }
    }
  }
}