.footer {
  flex: 0 0 auto;
  padding-top: rem(50);

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(30);

    @include md {
      flex-wrap: wrap;
    }

    @include xs {
      max-width: rem(320);
      margin: auto;
    }
  }

  &__col {
    @include md {
      flex-basis: 45%;
      margin-bottom: rem(40);
    }

    @include xs {
      flex-basis: 100%;
      margin-bottom: rem(20);

      &:last-child {
        margin: 0;
      }
    }
  }

  .logo {
    margin-bottom: rem(45);
    
    @include xs {
      margin: auto;
      margin-bottom: rem(45);
    }

    .color-logo {
      display: block;
    }
  }

  .col-contacts {
    @include xs {
      display: none;
    }

    * {
      color: $bc;
    }

    &__contacts-item {
      margin-bottom: rem(15);

      span {
        font-size: rem(16);
        font-weight: 700;
        margin-bottom: rem(3);
      }

      p,
      a {
        font-size: rem(16);
        line-height: normal;
      }
    }
  }

  &__menu {
    ul {
      @include xs {
        display: none;
      }

      li {
        margin-bottom: rem(15);

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $bc;

          &:hover {
            color: $mc;
          }
        }
      }
    }
  }

  &__menu-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $bc;
    margin-bottom: rem(25);
    position: relative;

    @include xs {
      cursor: pointer;
      margin-bottom: 0;
    }

    &:after {
      position: absolute;
      content: '';
      font-family: icon;
      color: $bc;
      font-size: rem(16);
      top: 50%;
      right: rem(15);
      transform: translateY(-50%) rotate(180deg);
      transition: $tr;
      padding-bottom: rem(3);
      display: none;

      @include xs {
        display: block;
      }
    }

    &--contacts {
      display: none;

      @include xs {
        display: block;
      }
    }
  }

  &__bottom {
    padding: rem(25) 0;
  }

  .open {
    margin-bottom: rem(15);

    &:after {
      display: none;
    }
  }
}