.footer {
  flex: 0 0 auto;
  padding-top: rem(50);

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(30);
  }

  .logo {
    margin-bottom: rem(45);

    .color-logo {
      display: block;
    }
  }

  .col-contacts {
    * {
      color: $bc;
    }

    &__contacts-item {
      margin-bottom: rem(15);

      span {
        font-size: rem(16);
        font-weight: 700;
        margin-bottom: rem(3);
      }

      p,
      a {
        font-size: rem(16);
        line-height: normal;
      }
    }
  }

  &__menu {
    ul {
      li {
        margin-bottom: rem(15);

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $bc;

          &:hover {
            color: $mc;
          }
        }
      }
    }
  }

  &__menu-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $bc;
    margin-bottom: rem(25);
  }

  &__bottom {
    padding: rem(25) 0;
  }
}