.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-15);
  margin-right: rem(-15);
  position: relative;
  z-index: 1;

  @include xs {
    flex-direction: column;
  }

  &__item {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(15);
    box-sizing: border-box;
    margin-bottom: rem(50);
    overflow: hidden;
    position: relative;
    margin-top: rem(20);
    
    @include lg {
      margin-top: rem(15);
      margin-bottom: rem(40);
    }

    @include sm {
      flex-basis: 50%;
      margin-bottom: rem(20);
    }

    @include xs {
      flex-basis: 100%;
      border-bottom: rem(1) solid #e1e1e1;
    }

    * {
      transition: $tr;
    }

    &:hover {
      * {
        color: $wc;
      }

      h3 {
        &:before {
          background-color: $wc;
        }
      }
    }

    .circle {
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      margin-left: 0px;
      margin-top: 0px;
      pointer-events: none;
    }

    .explode-circle {
      animation: explode 1.5s forwards;
    }

    .desplode-circle {
      animation: desplode 0.5s forwards;
    }

    @keyframes explode {
      0% {
        transform: scale(0);
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgba(42, 53, 80, 0.2);
      }

      100% {
        transform: scale(20);
        margin-left: -200px;
        margin-top: -200px;
        background-color: $mc;
      }
    }

    @keyframes desplode {
      0% {
        transform: scale(20);
        margin-left: -200px;
        margin-top: -200px;
        background-color: $mc;
      }

      100% {
        transform: scale(0);
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgba(129, 80, 108, 0.6);
      }
    }
  }

  &__top {
    position: relative;

    h3 {
      padding-left: rem(15);
      position: relative;
      color: $bc;
      font-size: rem(22);
      font-weight: 500;
      line-height: rem(35);
      margin-bottom: rem(15);

      @include lg {
        font-size: rem(20);
        line-height: rem(32);
      }

      @include md {
        font-size: rem(18);
        line-height: rem(30);
      }

      &:before {
        content: '';
        position: absolute;
        top: rem(16);
        left: 0;
        width: rem(5);
        height: rem(5);
        background-color: $bc;
        border-radius: 50%;
      }
    }

    p {
      color: #313131;
      font-weight: 400;
      line-height: rem(24);
      margin-bottom: rem(50);

      @include lg {
        margin-bottom: rem(40);
        font-size: rem(15);
        line-height: rem(22);
      }

      @include md {
        margin-bottom: rem(30);
        font-size: rem(14);
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    width: 100%;
    position: relative;
    z-index: 1;

    @include xs {
      max-width: 100%;
    }
  }

  &__price {
    font-weight: 700;
    color: $bc;

    @include lg {
      font-size: rem(15);
    }

    @include md {
      font-size: rem(14);
    }
  }

  &__btn-wrap {
    max-width: rem(871);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
      flex-basis: 45%;
    }

    .btn {
      max-width: rem(428);
      width: 100%;

      @include md {
        flex-basis: 45%;
      }

      @include sm {
        max-width: rem(285);
        width: 100%;
        min-height: rem(60);
        padding: 0 rem(20);

        &:first-child {
          margin-bottom: rem(20);
        }
      }

    }
  }

  &--dark {
    .list__item {
      counter-increment: section;
    }

    .list__top {
      padding-left: rem(40);
    }

    h3 {
      color: $wc;
      padding: 0;

      &:before {
        content: "00"counter(section);
        width: 0;
        height: auto;
        border-radius: 0;
        font-size: rem(16);
        color: #656565 !important;
        font-weight: 700;
        top: 0;
        left: rem(-40);
      }
    }

    p {
      color: #919191;
      margin: 0;
    }

    .list__item {
      &:hover {
        h3 {
          &:before {
            background-color: transparent;
          }
        }
      }
    }
  }

}