extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .article
        .article__banner(style="background-image: url('assets/img/blog1.jpg')")
        .container.indent
          include includes/breadcrumbs
          +breadcrumbs(['Веб студия','Блог'], 'Обзор и отзывы о конструкторе сайтов InSales')
          .article__wrap
            .article__col
              .share
                script(src='https://yastatic.net/share2/share.js')
                .ya-share2(data-curtain='' data-shape='round' data-lang='ro' data-limit='0' data-more-button-type='short' data-services='vkontakte,facebook,odnoklassniki,telegram,twitter,whatsapp')
            .article__col
              .article__text-wrap 
                .article__date Дата публицакии: 
                  span 13 мая 2021  
                h1.title.article__title.indent Обзор и отзывы о конструкторе сайтов InSales
                .article__text 
                  p Конструктор сайтов InSales —  удобная и простая платформа для электронной коммерции. Данная облачная CMS была запущена в 2008 году. На сегодня, услугами InSales пользуется более 6500 клиентов. Такой результат обусловлен высоким уровнем качества и продуманностью. В данной статье мы расскажем о тонкостях  работы с InSales и кому подойдет данная CMS.

                  p Данный конструктор —  лучшее решение для предпринимателей. Он отлично подойдет и начинающим пользователям, которые не имеют опыта в разработке интернет-магазина. Пользователь может наполнить каталог товарами, создать индивидуальный дизайн и даже собственное приложение.

                  p Функционал конструктора покорит любого, но есть одно “но”. Если у вас нет денег, то вы не сможете воспользоваться всем тем, что предлагает разработчик. 

                  p После того как пользователь прошел регистрацию, ему открывается доступ к панели администратора, где есть пошаговый мастер настроек. Он нужен для того, чтобы быстро сориентироваться в конструкторе и создать удобный сайт.

                  h2 С чего начать

                  p Самое первое, что нужно сделать —  пройти регистрацию. Она займет максимум минуту, а то и меньше. Далее нажимаем “Создать магазин” и указываем адрес e-mail. 

                  p Конструктор запросит имя и номер телефона (только при первом запуске). Таким образом вы подтвердили права на магазин. Конечно, ни о какой проверки речь не идет, просто конструктор собирает персональные данные пользователя. Дальше заполняем форму и подтверждение электронной почты. Все, приступаем к настройке сайта.
                    a(href="#") sdfd 
                  p Конструктор сайтов InSales —  удобная и простая платформа для электронной коммерции. Данная облачная CMS была запущена в 2008 году. На сегодня, услугами InSales пользуется более 6500 клиентов. Такой результат обусловлен высоким уровнем качества и продуманностью. В данной статье мы расскажем о тонкостях  работы с InSales и кому подойдет данная CMS.

                  p Данный конструктор —  лучшее решение для предпринимателей. Он отлично подойдет и начинающим пользователям, которые не имеют опыта в разработке интернет-магазина. Пользователь может наполнить каталог товарами, создать индивидуальный дизайн и даже собственное приложение.

                  p Функционал конструктора покорит любого, но есть одно “но”. Если у вас нет денег, то вы не сможете воспользоваться всем тем, что предлагает разработчик. 

                  p После того как пользователь прошел регистрацию, ему открывается доступ к панели администратора, где есть пошаговый мастер настроек. Он нужен для того, чтобы быстро сориентироваться в конструкторе и создать удобный сайт.

                  h2 С чего начать

                  p Самое первое, что нужно сделать —  пройти регистрацию. Она займет максимум минуту, а то и меньше. Далее нажимаем “Создать магазин” и указываем адрес e-mail. 

                  p Конструктор запросит имя и номер телефона (только при первом запуске). Таким образом вы подтвердили права на магазин. Конечно, ни о какой проверки речь не идет, просто конструктор собирает персональные данные пользователя. Дальше заполняем форму и подтверждение электронной почты. Все, приступаем к настройке сайта.
                    a(href="#") sdfd 
                  p Конструктор сайтов InSales —  удобная и простая платформа для электронной коммерции. Данная облачная CMS была запущена в 2008 году. На сегодня, услугами InSales пользуется более 6500 клиентов. Такой результат обусловлен высоким уровнем качества и продуманностью. В данной статье мы расскажем о тонкостях  работы с InSales и кому подойдет данная CMS.

                  p Данный конструктор —  лучшее решение для предпринимателей. Он отлично подойдет и начинающим пользователям, которые не имеют опыта в разработке интернет-магазина. Пользователь может наполнить каталог товарами, создать индивидуальный дизайн и даже собственное приложение.

                  p Функционал конструктора покорит любого, но есть одно “но”. Если у вас нет денег, то вы не сможете воспользоваться всем тем, что предлагает разработчик. 

                  p После того как пользователь прошел регистрацию, ему открывается доступ к панели администратора, где есть пошаговый мастер настроек. Он нужен для того, чтобы быстро сориентироваться в конструкторе и создать удобный сайт.

                  h2 С чего начать

                  p Самое первое, что нужно сделать —  пройти регистрацию. Она займет максимум минуту, а то и меньше. Далее нажимаем “Создать магазин” и указываем адрес e-mail. 

                  p Конструктор запросит имя и номер телефона (только при первом запуске). Таким образом вы подтвердили права на магазин. Конечно, ни о какой проверки речь не идет, просто конструктор собирает персональные данные пользователя. Дальше заполняем форму и подтверждение электронной почты. Все, приступаем к настройке сайта.
                    a(href="#") sdfd 
                  p Конструктор сайтов InSales —  удобная и простая платформа для электронной коммерции. Данная облачная CMS была запущена в 2008 году. На сегодня, услугами InSales пользуется более 6500 клиентов. Такой результат обусловлен высоким уровнем качества и продуманностью. В данной статье мы расскажем о тонкостях  работы с InSales и кому подойдет данная CMS.

                  p Данный конструктор —  лучшее решение для предпринимателей. Он отлично подойдет и начинающим пользователям, которые не имеют опыта в разработке интернет-магазина. Пользователь может наполнить каталог товарами, создать индивидуальный дизайн и даже собственное приложение.

                  p Функционал конструктора покорит любого, но есть одно “но”. Если у вас нет денег, то вы не сможете воспользоваться всем тем, что предлагает разработчик. 

                  p После того как пользователь прошел регистрацию, ему открывается доступ к панели администратора, где есть пошаговый мастер настроек. Он нужен для того, чтобы быстро сориентироваться в конструкторе и создать удобный сайт.

                  h2 С чего начать

                  p Самое первое, что нужно сделать —  пройти регистрацию. Она займет максимум минуту, а то и меньше. Далее нажимаем “Создать магазин” и указываем адрес e-mail. 

                  p Конструктор запросит имя и номер телефона (только при первом запуске). Таким образом вы подтвердили права на магазин. Конечно, ни о какой проверки речь не идет, просто конструктор собирает персональные данные пользователя. Дальше заполняем форму и подтверждение электронной почты. Все, приступаем к настройке сайта.
                    a(href="#") sdfd 
                  p Конструктор сайтов InSales —  удобная и простая платформа для электронной коммерции. Данная облачная CMS была запущена в 2008 году. На сегодня, услугами InSales пользуется более 6500 клиентов. Такой результат обусловлен высоким уровнем качества и продуманностью. В данной статье мы расскажем о тонкостях  работы с InSales и кому подойдет данная CMS.

                  p Данный конструктор —  лучшее решение для предпринимателей. Он отлично подойдет и начинающим пользователям, которые не имеют опыта в разработке интернет-магазина. Пользователь может наполнить каталог товарами, создать индивидуальный дизайн и даже собственное приложение.

                  p Функционал конструктора покорит любого, но есть одно “но”. Если у вас нет денег, то вы не сможете воспользоваться всем тем, что предлагает разработчик. 

                  p После того как пользователь прошел регистрацию, ему открывается доступ к панели администратора, где есть пошаговый мастер настроек. Он нужен для того, чтобы быстро сориентироваться в конструкторе и создать удобный сайт.

                  h2 С чего начать

                  p Самое первое, что нужно сделать —  пройти регистрацию. Она займет максимум минуту, а то и меньше. Далее нажимаем “Создать магазин” и указываем адрес e-mail. 

                  p Конструктор запросит имя и номер телефона (только при первом запуске). Таким образом вы подтвердили права на магазин. Конечно, ни о какой проверки речь не идет, просто конструктор собирает персональные данные пользователя. Дальше заполняем форму и подтверждение электронной почты. Все, приступаем к настройке сайта.
                    a(href="#") sdfd 
                  p Конструктор сайтов InSales —  удобная и простая платформа для электронной коммерции. Данная облачная CMS была запущена в 2008 году. На сегодня, услугами InSales пользуется более 6500 клиентов. Такой результат обусловлен высоким уровнем качества и продуманностью. В данной статье мы расскажем о тонкостях  работы с InSales и кому подойдет данная CMS.

                  p Данный конструктор —  лучшее решение для предпринимателей. Он отлично подойдет и начинающим пользователям, которые не имеют опыта в разработке интернет-магазина. Пользователь может наполнить каталог товарами, создать индивидуальный дизайн и даже собственное приложение.

                  p Функционал конструктора покорит любого, но есть одно “но”. Если у вас нет денег, то вы не сможете воспользоваться всем тем, что предлагает разработчик. 

                  p После того как пользователь прошел регистрацию, ему открывается доступ к панели администратора, где есть пошаговый мастер настроек. Он нужен для того, чтобы быстро сориентироваться в конструкторе и создать удобный сайт.

                  h2 С чего начать

                  p Самое первое, что нужно сделать —  пройти регистрацию. Она займет максимум минуту, а то и меньше. Далее нажимаем “Создать магазин” и указываем адрес e-mail. 

                  p Конструктор запросит имя и номер телефона (только при первом запуске). Таким образом вы подтвердили права на магазин. Конечно, ни о какой проверки речь не идет, просто конструктор собирает персональные данные пользователя. Дальше заполняем форму и подтверждение электронной почты. Все, приступаем к настройке сайта.
                    a(href="#") sdfd

                  ul
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                  ol
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                    li Lorem, ipsum.
                    li Lorem, ipsum.
              


            
            .article__col
              .article__other
                each item in blog
                  .article__other-item 
                    .article__other-img 
                      a(href="#")
                        img(src=item.img, alt="") 
                    .article__other-date=item.date
                    .article__other-title
                      a(href="#")=item.title



     
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
